= render "subheader"

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        = render 'orderproto'
      = link_to "View Tags", tags_path, class: "btn btn-default col-lg-1"

.container.proto-list
  .row#masonry-container
    = render partial: "prototype", collection: @prototype

.text-center
  %ul.pagination
    = paginate(@prototype)
